{% extends "itemstore/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
       <form method='POST' action=''>{% csrf_token %}
            {{form|crispy}}
            <input type="submit" value='Search'/>
        </form>
      <br>
      <div class="display_table">
        <table class='table'>
          <thead>
            <tr>
              <th>COUNT</th>
              <th>ID</th>
              <th>CATEGORY</th>
              <th>ITEM NAME</th>
              <th>QUANTITY IN STORE</th>
              <th>ISSUE QUANTITY</th>
              <th>RECEIVE QUANTITY</th>
              <th>ISSUE BY</th>
              <th>RECEIVE BY</th>
              <th>LAST UPDATED</th>
            </tr>
          </thead>
        {% for item in items %}
            <tr>

              <td>{{forloop.counter}}</td>
              <td>{{item.id}}</td>
              <td>{{item.category}}</td>
              <td>{{item.item_name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.issue_quantity}}</td>
              <td>{{item.receive_quantity}}</td>
              <td>{{item.issue_by}}</td>
              <td>{{item.receive_by}}</td>
              <td>{{item.last_updated}}</td>
            </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}