{% extends "itemstore/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
      <form method='POST' action=''>{% csrf_token %}
          {{form|crispy}}<br>
          <input type="submit" value='Search'/>
      </form>
      <br>
      <div class="display_table">
          <table class='table'>
            <thead>
              <tr>
                <th>COUNT</th>
                <th>CATEGORY</th>
                <th>ITEM NAME</th>
                <th>QUANTITY IN STORE</th>
                <th>REORDER LEVEL</th>
                <th>TIME CREATED</th>
                <th>LAST UPDATE</th>
                <th>DELETE</th>
              </tr>
            </thead>
          {% for item in items %}
              <tr class="text-light bg-dark">


                <td>{{forloop.counter}}</td>
                <td>{{item.category}}</td>
                <td><a href="{% url 'update_item' item.id %}">{{item.item_name}}</a></td>
                <td>
                    {% if item.quantity <= item.reorder_level %}
                    <div style="background-color: orange;">
                        <a href="{% url 'item_detail' item.id %}">{{item.quantity}}</a>
                    </div>
                    {% else %}
                        <a href="{% url 'item_detail' item.id %}">{{item.quantity}}</a>
                    {% endif %}
                </td>
                <td><a href="{% url 'reorder_level' item.id %}">{{item.reorder_level}}</a></td>
                <td>{{item.created_time}}</td>
                <td>{{item.last_updated}}</td>
                <td><a href="{% url 'delete_item' item.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
              </tr>
          {% endfor %}
        </table>
    </div>
{% endblock %}